<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>

</head>
<body>
	<section th:fragment="side-menu" class="sidebar">
		<div>

			<ul class="sidebar-menu">
				<li class="header">MAIN NAVIGATION</li>
				<li class="active treeview"><a href="#"> <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
				</a></li>

				
				<li class="treeview">
					<a href="#"> <i class="fa fa-book"></i> <span>Catalog</span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a th:href="@{'/product'}"><i class="fa fa-circle-o"></i> Products</a></li>
						<li><a th:href="@{'/category'}"><i class="fa fa-circle-o"></i> Categories</a></li>
						<li><a th:href="@{'/productOption'}"><i class="fa fa-circle-o"></i> Product Options</a></li>
						<li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Manufacturers</a></li>
						<li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Discount Rule</a></li>
						<li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Category Groups</a></li>
					</ul>
				</li>
				
				<li class="treeview">
					<a href="#"> <i class="fa fa-credit-card"></i> <span>Orders</span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href="/admin/product"><i class="fa fa-circle-o"></i> Orders</a></li>
					</ul>
				</li>
				
				<li class="treeview">
					<a href="#"> <i class="fa fa-truck"></i> <span>Shipping</span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href="/admin/product"><i class="fa fa-circle-o"></i> Carriers</a></li>
						<li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Preferences</a></li>
					</ul>
				</li>
				
				<li class="treeview">
					<a href="#"> <i class="fa fa-globe"></i> <span>Localization</span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Zones</a></li>
						<li><a href="/admin/product"><i class="fa fa-circle-o"></i> Countries</a></li>
						<li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> States</a></li>
						<li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Taxes</a></li>
					</ul>
				</li>
					
			</ul>

		</div>
	</section>
</body>
</html>